<h1>All posts</h1>

<p><%= link_to 'Categories', categories_path %></p>

<%= link_to 'Create new item', new_post_path %>

<% @posts.each do |item| %>
  <p>Title: <%= link_to item.title, post_path(item.id) %></p>
  <p>Created by: <%= item.user.username %></p>
  <p>Opened: <%= item.opened %></p>
  <% if user_signed_in? && current_user.id === item.user_id %>
    <%= link_to 'Edit', edit_post_path(item.id) %>
    <%= link_to 'Delete', post_path(item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to 'Comment', new_post_comment_path(item.id) %>
<% end %>
