<h1>Add new post</h1>

<%= form_for(@post) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :opened %>
    <%= form.check_box :opened %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
