<h1><%= @post.title %></h1>

<em><%= @post.content %></em>

<p>Opened: <%= @post.opened %></p>

<% if user_signed_in? %>
<p>Ranking: <%= @ranking %></p>
  <% if !@rankings.blank? %>
    <%= link_to 'Rank', edit_post_ranking_path(@post.id, @post.rankings.last.id) %>
  <% else %>
    <%= link_to 'Rank', new_post_ranking_path(@post.id) %>
  <% end %>
<% end %>

<h2>Comments</h2>

<% @comments.each do |item| %>
  <p>Comment: <p>
  <p><%= item.message %><p>
  <% if  user_signed_in? && current_user.id === item.user_id %>
    <%= link_to 'Edit', edit_post_comment_path(item.post_id, item.id) %>
    <%= link_to 'Delete', post_comment_path(item.post_id, item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<%= link_to 'Back', posts_path %>
